{% extends "base.html" %}
{% load static %}


{% block content %}

  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="applications.html">Applications</a></li>
        <li><a href="{% url 'profile' profile.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">All Applications</a></li>
          <li><a href="{% url 'applications' %}">New Applications</a></li>
          <li><a>Accepted</a></li>
          <li><a>Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          <li><a class="selected" href="{% url 'applications' %}">All Projects</a></li>
          {% for project in projects %}
          <li><a href="{% url 'applications-project' project.id %}">{{ project.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
          <li><a class="selected" href="{% url 'applications' %}">All Needs</a></li>
          {% for position in positions %}
          <li><a href="{% url 'applications-position' position.id %}">{{ position.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right">Applicant Position</th>
            <th class="circle--cell--right">Hire Applicant</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in applicant_dict.items %}
          <tr>
            <td class="clickable-row" data-href="{% url 'profile' value.0.users.id %}">
              <h3>{{ value.0 }} - {{ value.0.users.id }}</h3>
              <p>{{ value.1.title }}</p>
            </td>
            <td class="circle--cell--right clickable-row" data-href="{% url 'profile' value.0.users.id %}">
              <span class="secondary-label">{{ value.2.title }} - {{ value.2.id }}</span>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">
                {% if value.3 == 0 %}
                {{ value.3 }}
                <a class="button button-primary" href="{% url 'applicant-accepted' value.0.users.id value.2.id %}">Hire Developer</a>
                {% elif value.3 == 1 %}
                {{ value.3 }}
                <a class="button button-primary button-inactive">Developer Hired</a>
                {% else %}
                <a class="button button-primary button-inactive">Developer Rejected</a>
                {% endif %}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

{% endblock %}