{% extends "base.html" %}
{% load static %}

{% block addcss %}

<style>
    ul {
        list-style: none;
        padding-inline-start: 0px;
    }
    #id_avatar {
        margin-bottom: 20px;
    }
</style>

{% endblock %}

{% block content %}

<div class="app-main">
    <div class="app-sidebar sidebar-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>
        <div class="scrollbar-sidebar">
            <div class="app-sidebar__inner">
                <img style="width: 100%; margin-top: 20px;" src="{{ MEDIA_URL }}{{ profile.avatar }}" alt="{{ profile.full.name }} profile picture">
            </div>
        </div>
    </div>
    <div class="app-main__outer">
        <form method="post" enctype="multipart/form-data">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-car icon-gradient bg-mean-fruit">
                            </i>
                        </div>
                        <div><h1>Name: {{ profile.full_name }}</h1>
                            <div class="page-title-subheading">Username: {{ profile.user.username }}
                            </div>
                        </div>
                    </div>
                    <div class="page-title-actions">
                        <button type="submit" value="Submit" class="mb-2 mr-2 btn btn-success">
                            <i class="fa fa-business-time fa-w-20"></i>
                            Save Profile
                        </button>
                    </div>
                </div>
                <div class="tab-pane tabs-animation fade active show" id="tab-content-1" role="tabpanel">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Profile Edit</h5>

                              {% csrf_token %}
                            {{ form }}



                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Inline</h5>
                        <div>
                            <div class="inline-set">

                                  {{ inlines.0.management_form}}
                                  <h4>My Skills</h4>
                                  <ul class="circle--clone--list">
                                  {% for formset in inlines.0 %}
                                    <li class="inline-skills">{{ formset }}</li>
                                  {% endfor %}
                                  </ul>



                                </div>
                            <button type="submit" value="Submit" class="mb-2 mr-2 btn btn-success">
                                <i class="fa fa-business-time fa-w-20"></i>
                                Save Profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Inline</h5>
                        <div>
                            <div class="inline-set">




                                  {{ inlines.1.management_form}}
                                  <h4>My Projects</h4>
                                  <ul class="circle--clone--list">
                                  {% for formset in inlines.1 %}
                                    <li class="inline-projects">{{ formset }}</li>
                                  {% endfor %}
                                  </ul>
                                </div>
                             <button type="submit" value="Submit" class="mb-2 mr-2 btn btn-success">
                                <i class="fa fa-business-time fa-w-20"></i>
                                Save Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="app-wrapper-footer">
            <div class="app-footer">
                <div class="app-footer__inner">
                    <div class="app-footer-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    Footer Link 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    Footer Link 2
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="app-footer-right">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    Footer Link 3
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <div class="badge badge-success mr-1 ml-0">
                                        <small>NEW</small>
                                    </div>
                                    Footer Link 4
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<!-- Include formset plugin -->
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
<script src="{% static 'extra-js/jquery.formset.js' %}"></script>
<script>
  $(document).ready(function() {
    $('select').addClass('form-control-sm form-control');
    $("#id_avatar").after("<br>");
    $('.inline-skills').formset({
        prefix: '{{ inlines.0.prefix }}',
        addText: 'add skill',
        deleteText: 'remove'
    });
    $('.inline-projects').formset({
        prefix: '{{ inlines.1.prefix }}',
        addText: 'add project',
        deleteText: 'remove'
    });
  });
</script>
{{ form.media }}
{% endblock %}


