{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}


{% block content %}

<div class="app-main">
    <div class="app-sidebar sidebar-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>
        <div class="scrollbar-sidebar ps ps--active-y">
            <div class="app-sidebar__inner">
                <img style="width: 100%; margin-top: 20px;" src="{{ MEDIA_URL }}{{ profile.avatar }}" alt="{{ profile.full.name }} profile picture">
                <ul class="vertical-nav-menu">
                    <li class="app-sidebar__heading">My Projects</li>
                    {% for project in projects %}
                        <li>
                          <a href="{% url 'project' project.id %}" style="padding: 0px; line-height: 15px; height: 15px; font-size: 10px;">
                              {{ project.title }}
                          </a>
                        </li>
                    {% endfor %}
                    <li class="app-sidebar__heading">Projects involved with</li>
                    {% for project in approved_projects %}
                    <a href="{% url 'project' project.position.project.id %}" style="padding: 0px; line-height: 15px; height: 15px; font-size: 10px;">
                        {{ project.position.project.title }} /
                        {{ project.position.title }}
                    </a>
                    {% endfor %}
                    <li class="app-sidebar__heading">Projects to Apply To</li>
                    <a href="#projects-to-apply-to">Show Me</a>

                </ul>
            </div>
        </div>
    </div>
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-car icon-gradient bg-mean-fruit">
                            </i>
                        </div>
                        <div><h1>{{ profile.full_name }}</h1>
                            <div class="page-title-subheading">{{ profile.user.username }}
                            </div>
                        </div>
                    </div>
                    {% if profile.id == user.users.id %}
                    <div class="page-title-actions">
                        <button onclick="window.location.href = '{% url "profile-edit" profile.id %}';" type="button" data-placement="bottom" class="mr-3 btn btn-success">
                            <i class="fa fa-business-time fa-w-20"></i>
                            Edit Profile
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade active show" id="tab-content-1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 card text-black main-card">
                                <div class="card-header">About {{ profile.full_name }} </div>
                                <div class="card-body">
                                    {{ profile.description|markdown }}
                                </div>
                                <div class="card-footer">
                                    Skills: {% for skill in skills %}{{ skill.title }}, {% endfor %}{{ profile.other_skills }}
                                </div>
                                <div class="card-footer">
                                    Other Skills: {{ profile.other_skills }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="projects-to-apply-to">
                <div class="tab-pane tabs-animation fade active show" id="tab-content-1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 card text-black main-card">
                                <h3 style="padding: 30px;">PROJECTS TO APPLY TO</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade active show" id="tab-content-1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper">
                                {% for position in jobs_can_apply_to %}
                                <div class="card">
                                    <div id="headingOne" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#collapseOne{{ position.id }}" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                                            <h5 class="m-0 p-0">{{ position.project.title }}</h5>
                                            {{ position }} / {{ position }}<br>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="collapseOne{{ position.id }}" aria-labelledby="headingOne" class="collapse" style="">
                                        <div class="card-body">
                                            <a href="{% url 'project' position.project.id %}" class="m-20 p-20">
                                                Go to project > {{ position.project.title }} / {{ position }}<br>
                                            </a>
                                            <h4>{{ position.project.title }} / {{ position }} Position - Description:</h4>
                                            {{ position.project.description }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-wrapper-footer">
            <div class="app-footer">
                <div class="app-footer__inner">
                    <div class="app-footer-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="http://stbuilder.pythonforce.com/" class="nav-link" target="_blank">
                                    Live Demo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/python-force/social-team-builder" class="nav-link" target="_blank">
                                    Project Source Code / Docs
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="app-footer-right">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="https://github.com/DashboardPack/architectui-html-theme-free" class="nav-link" target="_blank">
                                    Architect UI Template
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.djangoproject.com/" class="nav-link">
                                    <div class="badge badge-success mr-1 ml-0">
                                        <small>NEW</small>
                                    </div>
                                    Powered by Django
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}