{% extends "base.html" %}
{% load static %}


{% block content %}

  <form method="post">
  {% csrf_token %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <a class="button button-primary" href="project.html">Save Changes</a>
        <a class="button button-text" href="index.html">Delete Project</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        {{ form }}
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list circle--clone--list">
          {{ inlines.0.management_form}}
          {% for formset in inlines.0 %}
          <li>
            {{ formset }}
          </li>
          {% endfor %}
        </ul>

        <a class="button button-primary" href="project.html">Save Changes</a>

      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <textarea placeholder="Time estimate" class="circle--textarea--input">10 hours</textarea>
      </div>

      <div class="circle--secondary--module">
        <h3>Application Requirements</h3>
        <textarea>Applicants are required to work from our headquarters located in Antarctica.</textarea>
      </div>

    </div>
  </div>
  </form>

{% endblock %}